$animation-duration: 1s;
$animation-iteraction-infinite: infinite;

@keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
}

@mixin placeholder-animation() {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        display: block;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: placeHolderShimmer;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-name: placeHolderShimmer;
        background: #f6f7f8;
        width: 100%;
        height: 100%;
        background: green;
        background: linear-gradient(to right, green 8%, #dddddd 18%, green 33%);
        z-index: 3;
    }
}